@model IEnumerable<Comdis.Models.Sales>

@{
    ViewData["Title"] = "Index";
}

<h1>@Comdis.Resources.Resources.Label_Sales</h1>

<div class="row">

   
    <div class="col-md-12">
        <form asp-action="SearchFilters">
            <div class="row">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="datefrom">@Comdis.Resources.Resources.Label_DateFrom</label>
                                <input type="date" name="datefrom" value="" class="form-control" id="datefrom" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dateto">@Comdis.Resources.Resources.Label_DateTo</label>
                                <input type="date" name="dateto" value="" class="form-control" id="dateto" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-11">
                            <div class="form-group">
                                <label for="salesnumber">@Comdis.Resources.Resources.Label_SalesNumber</label>
                                <input type="number" name="salesnumber" value="" class="form-control" id="salesnumber" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-11">
                            <div class="form-group">
                                <label for="customerList">@Comdis.Resources.Resources.Label_Customer</label>
                                <select name="customerList" class="select2-container  form-control" id="customerList"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mt-4">
                    <button class="btn btn-primary">@Comdis.Resources.Resources.Label_Search</button>
                </div>
            </div>
        </form>
     </div>
   
</div>


<div class="row">

    <div class="col-md-12">
        <div class="col-md-2">
            <a asp-action="Create" alt="New" title="@Comdis.Resources.Resources.Label_new"><i class="fa fa-plus fa-2x" aria-hidden="true"></i></a>
        </div>
        <table class="table table-striped table-bordered table-hover" id="salesItemsTbl">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SalesToParty.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RequestedDeliveryDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DeliveryAdress)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Comments)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.discount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.discount2)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.discount3)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cretead)
                    </th>
                    @*<th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cretead)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Updated)
        </th>*@

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil fa-2x" aria-hidden="true" title="@Comdis.Resources.Resources.Label_edit"></i></a>
                        <a asp-controller="SalesItems" asp-action="index" asp-route-id="@item.Id"><i class="fa fa-th-list fa-2x" aria-hidden="true" title="@Comdis.Resources.Resources.Label_salesDetail"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-ban fa-2x" aria-hidden="true" title="@Comdis.Resources.Resources.Label_delete"></i></a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SalesToParty.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequestedDeliveryDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeliveryAdress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comments)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.discount)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.discount2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.discount3)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cretead)
                    </td>
                    @*<td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.UpdatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Updated)
        </td>*@

                </tr>
}
            </tbody>
        </table>
    </div>
</div>

@section Scripts
{
    <script>
        
    </script>
    <script>
        var urlCustomerList = "@Url.Action("GetCustomerList", "Customer")";
        $(document).ready(function () {


            var now = new Date();
            var day = ("0" + now.getDate()).slice(-2);
            var month = ("0" + (now.getMonth() + 1)).slice(-2);
            var today = now.getFullYear() + "-" + (month) + "-" + (day);

            $("#datefrom").val(today);
            $("#dateto").val(today);

            $("#customerList").select2({
            ajax: {
                    url: urlCustomerList,
                data: function (params) {
                    var query = {
                        search: params.term,
                        type: 'public'
                    }

                    return query;
                },
                processResults: function (data) {
                    return {
                        results: data
                    };

                }

            },
            placeholder: "@Comdis.Resources.Resources.Msg_searchDictionary",
            minimumInputLength: 3,
        });

            $("#salesItemsTbl").DataTable({
                "dom": '<"top"i>frt<"bottom"lp><"clear">'
            });

        });
    </script>
    

}